In [94]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,StandardScaler,LabelEncoder

In [95]:
df = pd.read_csv("Visadataset.csv")
print(df.head(10))
print(df.tail(10))

  case_id      continent education_of_employee has_job_experience  \
0  EZYV01           Asia           High School                  N
1  EZYV02           Asia              Master's                  Y
2  EZYV03           Asia            Bachelor's                  N
3  EZYV04           Asia            Bachelor's                  N
4  EZYV05         Africa              Master's                  Y
5  EZYV06           Asia              Master's                  Y
6  EZYV07           Asia            Bachelor's                  N
7  EZYV08  North America            Bachelor's                  Y
8  EZYV09           Asia            Bachelor's                  N
9  EZYV10         Europe             Doctorate                  Y

  requires_job_training  no_of_employees  yr_of_estab region_of_employment  \
0                     N            14513         2007                 West
1                     N             2412         2002            Northeast
2                     Y            44444         2008                 West
3                     N               98         1897                 West
4                     N             1082         2005                South
5                     N             2339         2012                South
6                     N             4985         1994                South
7                     N             3035         1924                 West
8                     N             4810         2012              Midwest
9                     N             2251         1995                South

   prevailing_wage unit_of_wage full_time_position case_status
0     5.925665e+09         Hour                  Y      Denied
1     8.342565e+04         Year                  Y   Certified
2     1.229969e+05         Year                  Y      Denied
3     8.343403e+04         Year                  Y      Denied
4     1.499074e+05         Year                  Y   Certified
5     7.825214e+04         Year                  Y   Certified
6     5.363539e+04         Year                  Y   Certified
7     4.182298e+02         Hour                  Y      Denied
8     7.436219e+04         Year                  Y   Certified
9     6.751476e+04         Year                  Y   Certified
         case_id      continent education_of_employee has_job_experience  \
25470  EZYV25471  North America              Master's                  Y
25471  EZYV25472           Asia           High School                  N
25472  EZYV25473           Asia           High School                  N
25473  EZYV25474           Asia            Bachelor's                  Y
25474  EZYV25475         Africa             Doctorate                  N
25475  EZYV25476           Asia            Bachelor's                  Y
25476  EZYV25477           Asia           High School                  Y
25477  EZYV25478           Asia              Master's                  Y
25478  EZYV25479           Asia              Master's                  Y
25479  EZYV25480           Asia            Bachelor's                  Y

      requires_job_training  no_of_employees  yr_of_estab  \
25470                     N             2272         1970
25471                     N            40224         1962
25472                     N             1346         2003
25473                     N             2421         2007
25474                     N             2594         1979
25475                     Y             2601         2008
25476                     N             3274         2006
25477                     N             1121         1910
25478                     Y             1918         1887
25479                     N             3195         1960

      region_of_employment  prevailing_wage unit_of_wage full_time_position  \
25470            Northeast         516.4101         Hour                  Y
25471               Island       75587.4200         Year                  Y
25472              Midwest       76155.6000         Year                  N
25473            Northeast       22845.5600         Year                  Y
25474            Northeast       51104.7800         Year                  Y
25475                South       77092.5700         Year                  Y
25476            Northeast      279174.7900         Year                  Y
25477                South      146298.8500         Year                  N
25478                 West       86154.7700         Year                  Y
25479              Midwest       70876.9100         Year                  Y

      case_status
25470   Certified
25471   Certified
25472   Certified
25473   Certified
25474   Certified
25475   Certified
25476   Certified
25477   Certified
25478   Certified
25479   Certified

In [96]:
filter = df[(df['yr_of_estab']>2004) & (df['requires_job_training']=='N')].head()
filter

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,Hour,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,1.499074e+05,Year,Y,Certified
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,7.825214e+04,Year,Y,Certified
8,EZYV09,Asia,Bachelor's,N,N,4810,2012,Midwest,7.436219e+04,Year,Y,Certified
11,EZYV12,Asia,High School,Y,N,4069,2005,Northeast,7.081309e+04,Year,Y,Denied

In [97]:
df.shape

(25480, 12)

In [98]:
df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [100]:
df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     2.548000e+04
mean       5667.043210   1979.409929     3.070172e+05
std       22877.928848     42.366929     3.712208e+07
min         -26.000000   1800.000000     2.136700e+00
25%        1022.000000   1976.000000     3.401834e+04
50%        2109.000000   1997.000000     7.031051e+04
75%        3504.000000   2005.000000     1.077492e+05
max      602069.000000   2016.000000     5.925665e+09

In [101]:
df.iloc[10:100]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
10,EZYV11,Asia,Master's,N,N,2465,2004,Midwest,83588.560,Year,Y,Certified
11,EZYV12,Asia,High School,Y,N,4069,2005,Northeast,70813.090,Year,Y,Denied
12,EZYV13,Asia,Bachelor's,Y,N,123876,1963,Northeast,28663.050,Year,Y,Certified
13,EZYV14,Asia,Bachelor's,Y,N,1652,2007,Midwest,107196.030,Year,Y,Certified
14,EZYV15,Asia,Master's,Y,Y,15756,2006,South,220081.730,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
95,EZYV96,Asia,Master's,N,N,1392,2001,South,99737.180,Year,N,Certified
96,EZYV97,North America,Bachelor's,Y,N,2573,1977,Northeast,91449.620,Year,Y,Denied
97,EZYV98,North America,Bachelor's,Y,N,3524,1982,Midwest,34494.860,Year,Y,Certified
98,EZYV99,Asia,High School,N,N,1847,1977,Northeast,395.995,Hour,Y,Denied
99,EZYV100,Asia,Master's,N,N,107535,1970,West,159645.510,Year,Y,Denied

In [102]:
df[['education_of_employee','continent']]

      education_of_employee continent
0               High School      Asia
1                  Master's      Asia
2                Bachelor's      Asia
3                Bachelor's      Asia
4                  Master's    Africa
...                     ...       ...
25475            Bachelor's      Asia
25476           High School      Asia
25477              Master's      Asia
25478              Master's      Asia
25479            Bachelor's      Asia

[25480 rows x 2 columns]

In [103]:
df.loc[0:5,["education_of_employee",'continent']]

  education_of_employee continent
0           High School      Asia
1              Master's      Asia
2            Bachelor's      Asia
3            Bachelor's      Asia
4              Master's    Africa
5              Master's      Asia

In [104]:
df.isnull().sum()

case_id                  0
continent                0
education_of_employee    0
has_job_experience       0
requires_job_training    0
no_of_employees          0
yr_of_estab              0
region_of_employment     0
prevailing_wage          0
unit_of_wage             0
full_time_position       0
case_status              0
dtype: int64

In [105]:
df.dropna()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,8.342565e+04,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,1.229969e+05,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,8.343403e+04,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,1.499074e+05,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,7.709257e+04,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,2.791748e+05,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,1.462989e+05,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,8.615477e+04,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,7.087691e+04,Year,Y,Certified

In [106]:
df['continent'].fillna(df['continent'].mode(),inplace=True)

C:\Users\sujay\AppData\Local\Temp\ipykernel_19980\1109646106.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['continent'].fillna(df['continent'].mode(),inplace=True)

In [107]:
df.duplicated().sum()

np.int64(0)

In [108]:
df.drop_duplicates(inplace=True)

In [109]:
df.rename(columns={
    'education_of_employee':'education',
    'has_job_experience':'Job Experiance'
},inplace=True)

In [110]:
df['no_of_employees'].dtype

dtype('int64')

In [111]:
df['prevailing_wage'].astype(int)
print(df['no_of_employees'].dtype)
df['prevailing_wage'].astype(float)
print(df['prevailing_wage'].dtype)

int64
float64

In [112]:
df['prevailing_wage'].unique()

array([5.92566465e+09, 8.34256500e+04, 1.22996860e+05, ...,
       1.46298850e+05, 8.61547700e+04, 7.08769100e+04], shape=(25454,))

In [113]:
df['unit_of_wage'] = df['unit_of_wage'].replace({'Hour':'H','Year':'Y'})
df

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,H,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,8.342565e+04,Y,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,1.229969e+05,Y,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,8.343403e+04,Y,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,1.499074e+05,Y,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,7.709257e+04,Y,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,2.791748e+05,Y,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,1.462989e+05,Y,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,8.615477e+04,Y,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,7.087691e+04,Y,Y,Certified

In [114]:
df.sort_values(by='unit_of_wage',ascending=False)

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
12740,EZYV12741,Asia,Master's,N,N,484,2003,Midwest,6.541804e+04,Y,Y,Certified
16515,EZYV16516,Europe,High School,N,Y,2103,1890,West,1.153263e+05,Y,Y,Denied
16526,EZYV16527,Europe,Doctorate,N,Y,3722,1979,West,7.628857e+04,Y,Y,Certified
16525,EZYV16526,Asia,High School,Y,N,2256,1981,Midwest,4.809019e+04,Y,Y,Certified
16524,EZYV16525,Asia,Master's,N,N,161,1927,South,4.579905e+04,Y,Y,Denied
...,...,...,...,...,...,...,...,...,...,...,...,...
19605,EZYV19606,Asia,High School,Y,N,425,1841,West,5.553039e+02,H,Y,Certified
19609,EZYV19610,Asia,Bachelor's,N,N,1502,1969,South,6.181654e+02,H,Y,Certified
19623,EZYV19624,North America,Bachelor's,N,N,3940,1923,Midwest,7.334222e+02,H,Y,Certified
5265,EZYV5266,Asia,Bachelor's,N,N,1028,1817,Northeast,9.207943e+02,H,Y,Denied
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,H,Y,Denied

In [115]:
df.reset_index(drop=True,inplace=True)

In [116]:
df

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,H,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,8.342565e+04,Y,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,1.229969e+05,Y,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,8.343403e+04,Y,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,1.499074e+05,Y,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,7.709257e+04,Y,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,2.791748e+05,Y,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,1.462989e+05,Y,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,8.615477e+04,Y,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,7.087691e+04,Y,Y,Certified

In [117]:
data = df[(df['education']=="High School") & (df['yr_of_estab']>2000)]
df.rename({"Master's":'Master'},inplace=True)

In [118]:
data[data['education'].isin(['High School'])]

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,H,Y,Denied
11,EZYV12,Asia,High School,Y,N,4069,2005,Northeast,7.081309e+04,Y,Y,Denied
27,EZYV28,Asia,High School,Y,Y,2889,2005,South,1.030293e+05,Y,Y,Certified
35,EZYV36,Asia,High School,Y,N,5512,2001,Northeast,9.242192e+04,Y,Y,Denied
62,EZYV63,Asia,High School,N,N,5110,2004,West,1.032216e+02,H,Y,Denied
...,...,...,...,...,...,...,...,...,...,...,...,...
25375,EZYV25376,North America,High School,N,N,392,2001,Island,2.576129e+02,H,Y,Certified
25406,EZYV25407,Asia,High School,Y,N,4806,2006,Northeast,1.371250e+05,Y,Y,Certified
25451,EZYV25452,North America,High School,Y,N,97,2013,Northeast,1.115186e+05,Y,N,Denied
25472,EZYV25473,Asia,High School,N,N,1346,2003,Midwest,7.615560e+04,Y,N,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,2.791748e+05,Y,Y,Certified

In [119]:
df

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,H,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,8.342565e+04,Y,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,1.229969e+05,Y,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,8.343403e+04,Y,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,1.499074e+05,Y,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,7.709257e+04,Y,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,2.791748e+05,Y,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,1.462989e+05,Y,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,8.615477e+04,Y,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,7.087691e+04,Y,Y,Certified

In [120]:
df.groupby('continent')['prevailing_wage'].mean()

continent
Africa            77425.923450
Asia             430985.050960
Europe            59842.925899
North America     68066.319257
Oceania           75994.276719
South America     60209.575314
Name: prevailing_wage, dtype: float64

In [121]:
df.groupby('continent').size()

continent
Africa             551
Asia             16861
Europe            3732
North America     3292
Oceania            192
South America      852
dtype: int64

In [122]:
df.groupby('continent')['prevailing_wage'].agg(['mean','max','min'])

                        mean           max      min
continent
Africa          77425.923450  3.077161e+05  32.9286
Asia           430985.050960  5.925665e+09   3.3188
Europe          59842.925899  2.843290e+05   9.1753
North America   68066.319257  3.062067e+05   2.1367
Oceania         75994.276719  2.759263e+05  24.4888
South America   60209.575314  2.557713e+05   3.0031

In [123]:
encoder = LabelEncoder()

In [124]:
df

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,5.925665e+09,H,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,8.342565e+04,Y,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,1.229969e+05,Y,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,8.343403e+04,Y,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,1.499074e+05,Y,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,7.709257e+04,Y,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,2.791748e+05,Y,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,1.462989e+05,Y,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,8.615477e+04,Y,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,7.087691e+04,Y,Y,Certified

In [125]:
df['Job Experiance'] = encoder.fit_transform(df['Job Experiance'])

In [126]:
df

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,0,N,14513,2007,West,5.925665e+09,H,Y,Denied
1,EZYV02,Asia,Master's,1,N,2412,2002,Northeast,8.342565e+04,Y,Y,Certified
2,EZYV03,Asia,Bachelor's,0,Y,44444,2008,West,1.229969e+05,Y,Y,Denied
3,EZYV04,Asia,Bachelor's,0,N,98,1897,West,8.343403e+04,Y,Y,Denied
4,EZYV05,Africa,Master's,1,N,1082,2005,South,1.499074e+05,Y,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,1,Y,2601,2008,South,7.709257e+04,Y,Y,Certified
25476,EZYV25477,Asia,High School,1,N,3274,2006,Northeast,2.791748e+05,Y,Y,Certified
25477,EZYV25478,Asia,Master's,1,N,1121,1910,South,1.462989e+05,Y,N,Certified
25478,EZYV25479,Asia,Master's,1,Y,1918,1887,West,8.615477e+04,Y,Y,Certified
25479,EZYV25480,Asia,Bachelor's,1,N,3195,1960,Midwest,7.087691e+04,Y,Y,Certified

In [127]:
Q1 = df['prevailing_wage'].quantile(0.25)
Q3 = df['prevailing_wage'].quantile(0.75)
print(Q1,"\n",Q3)

34018.340000000004
 107749.20000000001

In [128]:
IQR = Q3-Q1
IQR

np.float64(73730.86000000002)

In [129]:
Lower = Q1-(1.5*IQR)
print(Lower)
Upper = Q3+(1.5*IQR)
print(Upper)

-76577.95000000001
218345.49000000005

In [132]:
data = df[(df['prevailing_wage']>Upper) | (df['prevailing_wage']<Lower)]
data

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,0,N,14513,2007,West,5.925665e+09,H,Y,Denied
14,EZYV15,Asia,Master's,1,Y,15756,2006,South,2.200817e+05,Y,Y,Certified
34,EZYV35,Asia,Master's,0,N,1809,2010,South,2.255697e+05,Y,N,Certified
130,EZYV131,South America,High School,0,N,2554,2005,Midwest,2.473930e+05,Y,Y,Certified
216,EZYV217,Asia,Master's,1,N,1515,2001,Midwest,2.693217e+05,Y,N,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25191,EZYV25192,Asia,Master's,0,N,4983,2005,Midwest,2.804825e+05,Y,Y,Denied
25195,EZYV25196,North America,Master's,1,N,47,2001,South,2.343088e+05,Y,N,Certified
25468,EZYV25469,Asia,Bachelor's,0,N,373,2005,Midwest,2.727157e+05,Y,N,Certified
25469,EZYV25470,North America,Master's,1,N,2261,1997,Northeast,2.737725e+05,Y,N,Certified
25476,EZYV25477,Asia,High School,1,N,3274,2006,Northeast,2.791748e+05,Y,Y,Certified

In [140]:
df['prevailing_wage'] = np.where(
    (df['prevailing_wage'] > Upper) | (df['prevailing_wage'] < Lower),
    df['prevailing_wage'].mean(),
    df['prevailing_wage']
)

In [141]:
df

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,0,N,14513,2007,West,75456.410077,H,Y,Denied
1,EZYV02,Asia,Master's,1,N,2412,2002,Northeast,83425.650000,Y,Y,Certified
2,EZYV03,Asia,Bachelor's,0,Y,44444,2008,West,122996.860000,Y,Y,Denied
3,EZYV04,Asia,Bachelor's,0,N,98,1897,West,83434.030000,Y,Y,Denied
4,EZYV05,Africa,Master's,1,N,1082,2005,South,149907.390000,Y,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,1,Y,2601,2008,South,77092.570000,Y,Y,Certified
25476,EZYV25477,Asia,High School,1,N,3274,2006,Northeast,75456.410077,Y,Y,Certified
25477,EZYV25478,Asia,Master's,1,N,1121,1910,South,146298.850000,Y,N,Certified
25478,EZYV25479,Asia,Master's,1,Y,1918,1887,West,86154.770000,Y,Y,Certified
25479,EZYV25480,Asia,Bachelor's,1,N,3195,1960,Midwest,70876.910000,Y,Y,Certified

In [143]:
scaler = MinMaxScaler()
df[['no_of_employees','yr_of_estab']] = scaler.fit_transform(df[['no_of_employees','yr_of_estab']])
df

,case_id,continent,education,Job Experiance,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,0,N,0.024147,0.958333,West,75456.410077,H,Y,Denied
1,EZYV02,Asia,Master's,1,N,0.004049,0.935185,Northeast,83425.650000,Y,Y,Certified
2,EZYV03,Asia,Bachelor's,0,Y,0.073859,0.962963,West,122996.860000,Y,Y,Denied
3,EZYV04,Asia,Bachelor's,0,N,0.000206,0.449074,West,83434.030000,Y,Y,Denied
4,EZYV05,Africa,Master's,1,N,0.001840,0.949074,South,149907.390000,Y,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,1,Y,0.004363,0.962963,South,77092.570000,Y,Y,Certified
25476,EZYV25477,Asia,High School,1,N,0.005481,0.953704,Northeast,75456.410077,Y,Y,Certified
25477,EZYV25478,Asia,Master's,1,N,0.001905,0.509259,South,146298.850000,Y,N,Certified
25478,EZYV25479,Asia,Master's,1,Y,0.003229,0.402778,West,86154.770000,Y,Y,Certified
25479,EZYV25480,Asia,Bachelor's,1,N,0.005350,0.740741,Midwest,70876.910000,Y,Y,Certified