DATA CLEANING

In [300]:
import pandas as pd
import numpy as np

Load data

In [301]:
df = pd.read_csv('messy_HR_data.csv')
df.head()

,Name,Age,Salary,Gender,Department,Position,Joining Date,Performance Score,Email,Phone Number
0,grace,25,50000,Male,HR,Manager,"April 5, 2018",D,email@example.com,NaN
1,david,NaN,65000,Female,Finance,Director,2020/02/20,F,user@domain.com,123-456-7890
2,hannah,35,SIXTY THOUSAND,Female,Sales,Director,01/15/2020,C,email@example.com,098-765-4321
3,eve,NaN,50000,Female,IT,Manager,"April 5, 2018",A,name@company.org,
4,grace,NaN,NAN,Female,Finance,Manager,01/15/2020,F,name@company.org,098-765-4321

Checking Which Data Are Need To Clean

In [302]:
df.isnull().sum()

Name                   0
Age                  159
Salary                 0
Gender                 0
Department             0
Position               0
Joining Date           0
Performance Score      0
Email                390
Phone Number         185
dtype: int64

Cleaning "Name"

In [303]:
df['Name']

0        grace
1        david
2       hannah
3          eve
4        grace
         ...
995       jack
996       jack
997     hannah
998        bob
999        ivy
Name: Name, Length: 1000, dtype: object

In [304]:
df['Name'] = df['Name'].fillna('No Name')

Cleaning Age

In [305]:
df['Age'] = pd.to_numeric(df['Age'],errors='coerce')
df['Age'] = df['Age'].fillna(df['Age'].median())

In [306]:
df['Age']

0      25.0
1      35.0
2      35.0
3      35.0
4      35.0
       ...
995    50.0
996    35.0
997    35.0
998    25.0
999    35.0
Name: Age, Length: 1000, dtype: float64

Salary Cleaning

In [307]:
df['Salary'] = pd.to_numeric(df['Salary'],errors='coerce')
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

In [308]:
df['Salary']

0      50000.0
1      65000.0
2      65000.0
3      50000.0
4      65000.0
        ...
995    65000.0
996    50000.0
997    70000.0
998    65000.0
999    65000.0
Name: Salary, Length: 1000, dtype: float64

Gender Cleaning

In [309]:
df['Gender'] = df['Gender'].fillna('Not Specified')
df['Gender'] = df['Gender'].str.strip()
df['Gender'] = df['Gender'].replace({'Male':'M','Female':'F'}) 
df['Gender']

0          M
1          F
2          F
3          F
4          F
       ...
995        F
996        M
997        M
998    Other
999        M
Name: Gender, Length: 1000, dtype: object

Department Cleaning

In [310]:
df['Department']
df['Department'] = df['Department'].fillna('Not Assigned')
df['Department'] = df['Department'].str.lower().str.strip()
df['Department'] = df['Department'].replace({'It':'IT','Hr':'HR'})
df['Department']

0             hr
1        finance
2          sales
3             it
4        finance
         ...
995           hr
996      finance
997           it
998    marketing
999      finance
Name: Department, Length: 1000, dtype: object

Position Cleaning

In [311]:
df['Postion'] = df['Position'].str.lower().str.strip()
df['Position']

0        Manager
1       Director
2       Director
3        Manager
4        Manager
         ...
995      Manager
996      Analyst
997    Assistant
998      Manager
999      Manager
Name: Position, Length: 1000, dtype: object

Joining Date Cleaning

In [312]:
df['Joining Date'] = np.where(
    df['Joining Date'] == 'April 5, 2018',
    '05/04/2018',  # use string for consistency
    df['Joining Date']
)

# Then convert everything to a uniform datetime format
df['Joining Date'] = pd.to_datetime(df['Joining Date'], errors='coerce', infer_datetime_format=True)
df['Joining Date'] = df['Joining Date'].dt.strftime('%m/%d/%Y')
df['Joining Date'] = df['Joining Date'].fillna('01/01/2000')
df['Joining Date']

C:\Users\sujay\AppData\Local\Temp\ipykernel_15488\328518247.py:8: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['Joining Date'] = pd.to_datetime(df['Joining Date'], errors='coerce', infer_datetime_format=True)

0      05/04/2018
1      01/01/2000
2      01/15/2020
3      05/04/2018
4      01/15/2020
          ...
995    01/01/2000
996    05/04/2018
997    01/15/2020
998    05/04/2018
999    01/01/2000
Name: Joining Date, Length: 1000, dtype: object

Performance Cleaning

In [313]:
df['Performance Score'].str.capitalize()

0      D
1      F
2      C
3      A
4      F
      ..
995    F
996    C
997    D
998    D
999    C
Name: Performance Score, Length: 1000, dtype: object

Email Cleaning

In [314]:
df['Email'].fillna("noemail.example.com", inplace=True)
df['Email'] = df['Email'].str.lower().str.strip()
df['Email']

C:\Users\sujay\AppData\Local\Temp\ipykernel_15488\4078563411.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna("noemail.example.com", inplace=True)

0        email@example.com
1          user@domain.com
2        email@example.com
3         name@company.org
4         name@company.org
              ...
995    noemail.example.com
996    noemail.example.com
997        user@domain.com
998      email@example.com
999        user@domain.com
Name: Email, Length: 1000, dtype: object

Phone Number

In [315]:
df['Phone Number'].isnull().sum()
df['Phone Number'] = df['Phone Number'].fillna('000-000-0000')
df['Phone Number']

0      000-000-0000
1      123-456-7890
2      098-765-4321
3
4      098-765-4321
           ...
995    098-765-4321
996    555-555-5555
997    000-000-0000
998    000-000-0000
999    123-456-7890
Name: Phone Number, Length: 1000, dtype: object

In [316]:
df.duplicated().sum()

np.int64(0)

In [317]:
df.to_csv('cleaned_HR_data.csv', index=False)