Pandas Series Data

In [4]:
import pandas as pd

In [7]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

DataFrame 
2D Data

In [ ]:
df = pd.DataFrame({"names":["Amit","Sumit","Om"],
                   "marks":[90,91,89]})

print(df)

   names  marks
0   Amit     90
1  Sumit     91
2     Om     89

Read data from csv file

In [18]:
df = pd.read_csv("people-1000.csv")
#printing 
print("Printing Head")
print(df.head())

print("\nPrinting Tail")
print(df.tail())

Printing Head
   Index          User Id First Name Last Name     Sex  \
0      1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1      2  3d5AD30A4cD38ed         Jo    Rivers  Female
2      3  810Ce0F276Badec     Sheryl    Lowery  Female
3      4  BF2a889C00f0cE1    Whitney    Hooper    Male
4      5  9afFEafAe1CBBB9    Lindsey      Rice  Female

                           Email               Phone Date of birth  \
0            pwarner@example.org        857.139.8239    2014-01-27
1  fergusonkatherine@example.net     +1-950-759-8687    1931-07-26
2            fhoward@example.org       (599)782-0605    2013-11-25
3          zjohnston@example.com     +1-939-130-6258    2012-11-17
4               elin@example.net  (390)417-1635x3010    1923-04-15

                  Job Title
0         Probation officer
1                    Dancer
2                      Copy
3  Counselling psychologist
4       Biomedical engineer

Printing Tail
     Index          User Id First Name Last Name     Sex  \
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                       Email                  Phone Date of birth  \
995   lyonsdaisy@example.net           021.775.2933    1959-01-05
996  dariusbryan@example.com   001-149-710-7799x721    2001-10-06
997   georgechan@example.org  +1-750-774-4128x33265    1918-05-13
998      wanda04@example.net          (915)292-2254    1971-08-31
999  deannablack@example.org     079.752.5424x67259    1947-01-24

                           Job Title
995                Personnel officer
996          Education administrator
997  Commercial/residential surveyor
998                 Ambulance person
999       Nurse, learning disability

Discribe The Data
And 
Info

In [20]:
print("Discribe \n")
print(df.describe())

print("\nInfo\n")
print(df.info())

Discribe

             Index
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          1000 non-null   int64
 1   User Id        1000 non-null   object
 2   First Name     1000 non-null   object
 3   Last Name      1000 non-null   object
 4   Sex            1000 non-null   object
 5   Email          1000 non-null   object
 6   Phone          1000 non-null   object
 7   Date of birth  1000 non-null   object
 8   Job Title      1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB
None

Data selection

In [55]:
print("Printing one Column")
print(df["Email"])
print("\n\nPrinting multiple column data\n\n-----------------------------------------------\n")
print(df[["First Name" ,"Last Name"]])

Printing one Column
0                pwarner@example.org
1      fergusonkatherine@example.net
2                fhoward@example.org
3              zjohnston@example.com
4                   elin@example.net
                   ...
995           lyonsdaisy@example.net
996          dariusbryan@example.com
997           georgechan@example.org
998              wanda04@example.net
999          deannablack@example.org
Name: Email, Length: 1000, dtype: object


Printing multiple column data

-----------------------------------------------

    First Name Last Name
0       Shelia   Mahoney
1           Jo    Rivers
2       Sheryl    Lowery
3      Whitney    Hooper
4      Lindsey      Rice
..         ...       ...
995       Kurt    Bryant
996      Donna     Barry
997      Cathy  Mckinney
998   Jermaine    Phelps
999        Lee      Tran

[1000 rows x 2 columns]

Perticular row Info

In [31]:
print("Getting 2nd row values \n\n")
print(df.iloc[5])

Getting 2nd row values


Index                                    6
User Id                    aF75e6dDEBC5b66
First Name                          Sherry
Last Name                         Caldwell
Sex                                   Male
Email                kaitlin13@example.net
Phone                           8537800927
Date of birth                   1917-08-06
Job Title        Higher education lecturer
Name: 5, dtype: object

Creating new Dataframe and appling practices related to the NaN data

In [33]:
df1 = pd.read_excel("people-1000.xlsx")
print(df1)

     Index          User Id First Name Last Name     Sex  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
4        5  9afFEafAe1CBBB9    Lindsey      Rice     NaN
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                             Email                  Phone Date of birth  \
0              pwarner@example.org           857.139.8239    2014-01-27
1    fergusonkatherine@example.net                 -10395    1931-07-26
2              fhoward@example.org          (599)782-0605    2013-11-25
3            zjohnston@example.com                  -7326    2012-11-17
4                 elin@example.net     (390)417-1635x3010    1923-04-15
..                             ...                    ...           ...
995         lyonsdaisy@example.net           021.775.2933    1959-01-05
996        dariusbryan@example.com   001-149-710-7799x721    2001-10-06
997         georgechan@example.org  +1-750-774-4128x33265    1918-05-13
998            wanda04@example.net          (915)292-2254    1971-08-31
999        deannablack@example.org     079.752.5424x67259    1947-01-24

                           Job Title
0                  Probation officer
1                             Dancer
2                               Copy
3           Counselling psychologist
4                Biomedical engineer
..                               ...
995                Personnel officer
996          Education administrator
997  Commercial/residential surveyor
998                 Ambulance person
999       Nurse, learning disability

[1000 rows x 9 columns]

Data with NaN Data

In [ ]:
print("Printing data with NaN value\n\n")
print(df1.iloc[9])

print("\n\nRemovng NaN Data\n")
print(df1.dropna())

Printing data with NaN value


Index                                   10
User Id                    4A42Fe10dB717CB
First Name                           Harry
Last Name                              NaN
Sex                                   Male
Email            lanechristina@example.net
Phone                   (560)903-5068x4985
Date of birth          1953-06-29 00:00:00
Job Title        Insurance account manager
Name: 9, dtype: object


Removng NaN Data

     Index          User Id First Name Last Name     Sex  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
5        6  aF75e6dDEBC5b66     Sherry  Caldwell    Male
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                             Email                  Phone Date of birth  \
0              pwarner@example.org           857.139.8239    2014-01-27
1    fergusonkatherine@example.net                 -10395    1931-07-26
2              fhoward@example.org          (599)782-0605    2013-11-25
3            zjohnston@example.com                  -7326    2012-11-17
5            kaitlin13@example.net             8537800927    1917-08-06
..                             ...                    ...           ...
995         lyonsdaisy@example.net           021.775.2933    1959-01-05
996        dariusbryan@example.com   001-149-710-7799x721    2001-10-06
997         georgechan@example.org  +1-750-774-4128x33265    1918-05-13
998            wanda04@example.net          (915)292-2254    1971-08-31
999        deannablack@example.org     079.752.5424x67259    1947-01-24

                           Job Title
0                  Probation officer
1                             Dancer
2                               Copy
3           Counselling psychologist
5          Higher education lecturer
..                               ...
995                Personnel officer
996          Education administrator
997  Commercial/residential surveyor
998                 Ambulance person
999       Nurse, learning disability

[992 rows x 9 columns]


Fill NaN data with some value


     Index          User Id First Name Last Name     Sex  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
4        5  9afFEafAe1CBBB9    Lindsey      Rice       0
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                             Email                  Phone Date of birth  \
0              pwarner@example.org           857.139.8239    2014-01-27
1    fergusonkatherine@example.net                 -10395    1931-07-26
2              fhoward@example.org          (599)782-0605    2013-11-25
3            zjohnston@example.com                  -7326    2012-11-17
4                 elin@example.net     (390)417-1635x3010    1923-04-15
..                             ...                    ...           ...
995         lyonsdaisy@example.net           021.775.2933    1959-01-05
996        dariusbryan@example.com   001-149-710-7799x721    2001-10-06
997         georgechan@example.org  +1-750-774-4128x33265    1918-05-13
998            wanda04@example.net          (915)292-2254    1971-08-31
999        deannablack@example.org     079.752.5424x67259    1947-01-24

                           Job Title
0                  Probation officer
1                             Dancer
2                               Copy
3           Counselling psychologist
4                Biomedical engineer
..                               ...
995                Personnel officer
996          Education administrator
997  Commercial/residential surveyor
998                 Ambulance person
999       Nurse, learning disability

[1000 rows x 9 columns]

In [61]:
print("\n\nFill NaN data with some value\n\n")
print(df1.fillna(0))

Fill NaN data with some value


     Index          User Id First Name Last Name     Sex  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
4        5  9afFEafAe1CBBB9    Lindsey      Rice       0
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                             Email                  Phone Date of birth  \
0              pwarner@example.org           857.139.8239    2014-01-27
1    fergusonkatherine@example.net                 -10395    1931-07-26
2              fhoward@example.org          (599)782-0605    2013-11-25
3            zjohnston@example.com                  -7326    2012-11-17
4                 elin@example.net     (390)417-1635x3010    1923-04-15
..                             ...                    ...           ...
995         lyonsdaisy@example.net           021.775.2933    1959-01-05
996        dariusbryan@example.com   001-149-710-7799x721    2001-10-06
997         georgechan@example.org  +1-750-774-4128x33265    1918-05-13
998            wanda04@example.net          (915)292-2254    1971-08-31
999        deannablack@example.org     079.752.5424x67259    1947-01-24

                           Job Title
0                  Probation officer
1                             Dancer
2                               Copy
3           Counselling psychologist
4                Biomedical engineer
..                               ...
995                Personnel officer
996          Education administrator
997  Commercial/residential surveyor
998                 Ambulance person
999       Nurse, learning disability

[1000 rows x 9 columns]

Change the Column Name

In [65]:
df1 = df1.rename(columns={"Email":"Mail"})
print(df1)

print("\n\nprinting length\n\n")
print(len(df1))

     Index          User Id First Name Last Name     Sex  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
4        5  9afFEafAe1CBBB9    Lindsey      Rice     NaN
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                              Mail                  Phone Date of birth  \
0              pwarner@example.org           857.139.8239    2014-01-27
1    fergusonkatherine@example.net                 -10395    1931-07-26
2              fhoward@example.org          (599)782-0605    2013-11-25
3            zjohnston@example.com                  -7326    2012-11-17
4                 elin@example.net     (390)417-1635x3010    1923-04-15
..                             ...                    ...           ...
995         lyonsdaisy@example.net           021.775.2933    1959-01-05
996        dariusbryan@example.com   001-149-710-7799x721    2001-10-06
997         georgechan@example.org  +1-750-774-4128x33265    1918-05-13
998            wanda04@example.net          (915)292-2254    1971-08-31
999        deannablack@example.org     079.752.5424x67259    1947-01-24

                           Job Title
0                  Probation officer
1                             Dancer
2                               Copy
3           Counselling psychologist
4                Biomedical engineer
..                               ...
995                Personnel officer
996          Education administrator
997  Commercial/residential surveyor
998                 Ambulance person
999       Nurse, learning disability

[1000 rows x 9 columns]


printing length


1000